html {
    color: white;
    text-align: center;
}
header {
    padding: 10px 30px 10px 30px;
    border-radius: 100px;
    border: solid 10px red;
    
}
main {
    padding: 10px 30px 10px 30px;
    border-radius: 100px;
    border: solid 10px red
    
}
body {
    background-color: black;
    
}
h1 {
    font-family: Papyrus;
    color: red;
}
h3 {
    font-family: Papyrus;
    color: red;
}
p {
    font-family: cursive;
}

img {
    border-radius: 10px 10px 10px 10px;
    width: 300;
    height: 98.90625;
}