html {
    color: white;
    text-align: center;
}
body {
    background-color: black;
}
h1 {
    font-family: Papyrus;
    color: red;
}
h3 {
    font-family: Papyrus;
    color: red;
}
p {
    font-family: cursive;
}