html {
    color: white;
    text-align: center;
}
header {
    border-radius: 10px;
    border: solid 10px red;
}
main {
    border-radius: 10px;
    border: solid 10px red;
}
body {
    background-color: black;
}
h1 {
    font-family: Papyrus;
    color: red;
}
h3 {
    font-family: Papyrus;
    color: red;
}
p {
    font-family: cursive;
}