html {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
header {
    text-align: center;
}
.UserSignIn {
    text-align: center;
}
.HIDETHIS {
    display: none !important;
}
.ExperianceDiv {
    text-align: center;
}
.Experiance {
    text-align: left;
    line-height: 0.3em;
}
.ExperianceFieldset {
    text-align: left;
}
.JustCenter {
    text-align: center;
}
.ListOfTechDiv {
    text-align: center;
}
.HeaderFormat {
    line-height: 0.5em;
    border: solid red;
    border-radius: 50px;
    padding: 20px 30px 20px 30px;
}
h1 {
    font-family: sans-serif;
    color: white;
}
.BikeTesting {
    text-align: center;
}
.TestingTesting {
    text-align: center;
}
.TitleOfTechExperiance {
    text-align: center;
}
fieldset {
    color: black;
}
.PersonalStatement {
    border: solid red;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
}
hr {
    color: red;
}
.AboutMe {
    border: solid red;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
}